@page
@model Kata_2.Pages.HomePageModel
@{
	Layout = "_Layout";
	ViewBag.Title = "Welcome on my page";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Welcome</title>
</head>
<body>
	<div class="container">
		<h3>Witam na mojej stronie.</h3>
		<h4>Strona została wykonana w ramach zadania ćwiczeniowego z przedmiotu <br />"Programowanie aplikacji WWW w technologii .NET"</h4>
		<a href="/Index1">
			<button type="button" class="btn btn-secondary">Wylicz swoje BMI</button>
		</a>
	</div>
	
	



</body>
</html>
