<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Glinko_Kata_2</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class ="card-header text-muted" style="text-align:center; background-color:#85CAFF">
        @ViewBag.Title
    </div>
    <div class="container">
		
			<main role="main" class="pb-5">
				@RenderBody()
			</main>
		
    </div>

    <footer class="border-top footer text-muted" style="text-align:center; background-color:#85CAFF" >
        <div>
           Copyright &copy; 2021  Glinko Dawid - Kata_2 - <a asp-protocol="https" asp-host="www.linkedin.com/in/dawid-glinko-51ab1a18b/" asp-controller="in">Linkedin</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
